{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Аналітика | WUA</title>
    <link rel="stylesheet" href="{% static 'styles/analiz-graph.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/analiz-selectors.css' %}">
    <link rel="stylesheet" href="{% static 'styles/spin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.23.0/slimselect.min.css">
{% endblock %}


{% block content %}
    {% include 'analytics_menu.html' %}
    <section class="stat-content">
        <aside class="filters">
            <div class="filters__param-ver">
                <label for="city-selector" class="label_selector">Виберіть область:</label>
                <select name="city" id="city-selector" class="selector_city"></select>
            </div>
            <div class="filters__param-ver">
                <label for="waste-selector" class="label_selector">Категорія відходів:</label>
                <select name="waste" id="waste-selector" class="selector_city"></select>
            </div>
            <div class="filters__param-ver">
                <label for="year-selector" class="label_selector">Статистика по рокам:</label>
                <select name="year" id="year-selector"  multiple></select>
            </div>
            <div class="filters__param-hor">
                <label class="label_selector">Від номера в рейтингу:</label>
                <div>
                    <button type='button' class="button_arrows button_arrows__left" onclick="ArOper(-1, 0)">-</button>
                    <input class="input_number input_number__first" onchange="inputNumber(0, 0)" type="number" step="1" min="1">
                    <button type='button' class="button_arrows button_arrows__right" onclick="ArOper(1, 0)">+</button>
                </div>
            </div>

            <div class="filters__param-hor">
                <label class="label_selector">Кількість даних на сторінці:</label>
                <div>
                    <button type='button' class="button_arrows button_arrows__left" onclick="ArOper(-1, 1)">-</button>
                    <input class="input_number input_number__second" onchange="inputNumber(0, 1)" type="number" step="1" min="2" max="11">
                    <button type='button' class="button_arrows button_arrows__right" onclick="ArOper(1, 1)">+</button>
                </div>
            </div>

            <div class="filters__param-ver">
                <label class="label_selector">Пошук по назві:</label>
                <div class="selector_city name_search">
                    <input type="text" placeholder="Search.."  autocomplete="off" class="name_search__field" onkeyup="filterInputFunction()">
                    <div class="name_search__list">
                        <!--<a href="#about">About</a>-->
                        <!--<a href="#base">Base</a>-->
                        <!--<a href="#blog">Blog</a>-->
                        <!--<a href="#contact">Contact</a>-->
                        <!--<a href="#custom">Custom</a>-->
                        <!--<a href="#support">Support</a>-->
                        <!--<a href="#tools">Tools</a>-->
                    </div>
                </div>
            </div>
        </aside>
        <main class="main_content">
            <pre class="title_graph"></pre>
            <div class="filters__param-hor box">
                <pre class="scroller_text"></pre>
                <button type='button' class="button_scroll" onclick="ArOper(-1, 2)"><</button>
                <button type='button' class="button_scroll" onclick="ArOper(1, 2)">></button>
            </div>
            <svg>
            </svg>
        </main>
    </section>
    <div id="spinner"></div>
    <script type="module">
        import {ArOper, filterInputFunction} from "{% static 'scripts/analiz_big-graph.js' %}";
        window.ArOper = ArOper;
        window.filterInputFunction = filterInputFunction
    </script>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
        var dataset = d3.csv("{% static 'data/all_gen_wyear.csv' %}");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.23.0/slimselect.min.js"></script>
    <script type="module" src="{% static 'scripts/analiz_big-graph.js' %}"></script>
{% endblock %}