{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Detailed Info | WUA</title>
    <link rel="stylesheet" href="{% static 'styles/detail.css' %}">
{% endblock %}


{% block content %}
<main>
    <section>
        <table>
            <caption><b><h2>{{ gen.name }}</h2></b></caption>
          <tr>
           <td>ЄДРПОУ</td>
              <td>{{ gen.edrpou }}</td>
          </tr>
          <tr>
           <td>
              КОАТУУ
           </td>
           <td>
               {{ gen.koatuu }}
           </td>
          </tr>
          <tr>
           <td>
              Адреса
           </td>
           <td>
               {{ gen.address }}
           </td>
          </tr>
          <tr>
           <td>
              Контакти
           </td>
           <td>
               {{ gen.contacts }}
           </td>
          </tr>
          <tr>
           <td>Згенеровано відходів в тоннах</td>
           <td>{{ gen.tonnes_total|floatformat:3 }}</td>
          </tr>
                <tr>
           <td>Відходів в одиницях Пзув</td>
           <td>{{ gen.pzuv_total|floatformat:3 }}</td>
          </tr>
               <tr>
           <td>Відходи I класу</td>
           <td>{{ gen.tonnes_1|floatformat:3 }}</td>
          </tr>
               <tr>
           <td>Відходи II класу</td>
           <td>{{ gen.tonnes_2|floatformat:3 }}</td>
          </tr>
               <tr>
           <td>Відходи III класу</td>
           <td>{{ gen.tonnes_3|floatformat:3 }}</td>
          </tr>
                    <tr>
           <td>Відходи IV класу</td>
           <td>{{ gen.tonnes_4|floatformat:3 }}</td>
          </tr>
        </table>

    <!--     <tfoot>-->
    <!--      <tr>-->
    <!--       <th colspan="3">Subtotal</th>-->
    <!--       <td> 110.00</td>-->
    <!--      </tr>-->
    <!--      <tr>-->
    <!--       <th>Tax</th>-->
    <!--       <td> 8% </td>-->
    <!--       <td>8.80</td>-->
    <!--      </tr>-->
    <!--      <tr>-->
    <!--       <th colspan="3">Grand Total</th>-->
    <!--       <td>$ 118.80</td>-->
    <!--      </tr>-->
    <!--     </tfoot>-->
        </table>
    </section>
</main>
<!--<section class="page_content">-->
<!--        <header class="page_content__header">-->
<!--            <button onclick="location.href='market_create-lot.html'" type="button" class="page_content__header__button">-->
<!--                Я ХОЧУ УТИЛІЗУВАТИ-->
<!--            </button>-->
<!--            <button onclick="location.href='market_find-lot.html'" class="page_content__header__button page_content__header__button&#45;&#45;selected">-->
<!--                Я ХОЧУ ЗНАЙТИ ПЕРЕРОБКУ-->
<!--            </button>-->
<!--        </header>-->
<!--        <p class="page_content__title">-->
<!--            <strong>Підприємства, що приймають</strong><br>-->
<!--            <span>та переробляють сміття</span>-->
<!--        </p>-->
<!--        <form class="page_content__form">-->
<!--            &lt;!&ndash;<label for="city_name"></label>&ndash;&gt;-->
<!--            <select name="city" id='city_name' class="page_content__selector_city">-->
<!--                <option value="">Виберіть місто</option>-->
<!--                <option value="kyiv">Київ</option>-->
<!--                <option value="khmelnytsky">Хмельницкий</option>-->
<!--                <option value="lviv">Львів</option>-->
<!--                <option value="kharkiv">Харків</option>-->
<!--                <option value="odesa">Одеса</option>-->
<!--            </select>-->
<!--            <input name="waste_type" class="page_content__waste_type" placeholder="Тип відходів">-->
<!--            <button type="submit" class="page_content__submit_button">Пошук</button>-->
<!--        </form>-->
<!--        <section class="page_content__result_block">-->
<!--&lt;!&ndash;            <p><strong>Шини</strong> переробляють такі підприємства:</p>&ndash;&gt;-->
<!--            <p><strong>Компанії</strong>, що генерують відходи</p>-->
<!--            <nav class="page_content__result_block__switchers">-->
<!--                <button class="page_content__header__button page_content__header__button&#45;&#45;selected">-->
<!--                    СПИСОК-->
<!--                </button>-->
<!--                <button class="page_content__header__button">-->
<!--                    КАРТА-->
<!--                </button>-->
<!--            </nav>-->
<!--            <ul class="page_content__result_block__results">-->
<!--                {% for post in posts %}-->
<!--                <a href="{% url 'gen_details' pk=post.pk %}">-->
<!--                <li class="page_content__result_block__results__sample">-->
<!--                    <img src="../static/imgs/NoImageFound.png" class="page_content__result_block__results__sample__picture">-->
<!--                    <h4 class="page_content__result_block__results__sample__name">{{ post.name }}</h4>-->
<!--                    <span class="page_content__result_block__results__sample__address-and-worktime">Згенеровано відходів: {{ post.tonnes_total|floatformat:3 }} тонн</span>-->
<!--&lt;!&ndash;                    <address class="page_content__result_block__results__sample__address-and-worktime">м. Київ, вул. Мечнікова, 125а</address>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span class="page_content__result_block__results__sample__address-and-worktime">7:00 - 17:00 НД - вихідний</span>&ndash;&gt;-->

<!--                </li>-->
<!--                </a>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        </section>-->
<!--    </section>-->
{% endblock %}