{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Деталі | WUA</title>
<!--    <title>Detailed Info | WUA</title>-->
    <link rel="stylesheet" href="{% static 'styles/detail.css' %}">
{% endblock %}


{% block content %}
<main>
    <section>
        <table class="details" id="main-table">
            <caption><b><h2>{{ gen.name }}</h2></b></caption>
          <tr>
           <td>ЄДРПОУ</td>
              <td>{{ gen.edrpou }}</td>
          </tr>
          <tr>
           <td>
              КОАТУУ
           </td>
           <td>
               {{ gen.koatuu }}
           </td>
          </tr>
          <tr>
           <td>
              Адреса
           </td>
           <td>
               {{ gen.address }}
           </td>
          </tr>
          <tr>
           <td>
              Контакти
           </td>
           <td>
               {{ gen.contacts }}
           </td>
          </tr>
          <tr>
           <td title='{{ tooltip.0 }}'>Згенеровано відходів в тоннах</td>
           <td>{{ gen.tonnes_total|floatformat:3 }}</td>
          </tr>
                <tr>
           <td title='{{ tooltip.1 }}'>Відходів в одиницях Пзув</td>
           <td>{{ gen.pzuv_total|floatformat:3 }}</td>
          </tr>
               <tr>
           <td title='{{ tooltip.2 }}{{ tooltip_ending }}'>Відходи I класу</td>
           <td>{{ gen.tonnes_1|floatformat:3 }}</td>
          </tr>
               <tr>
           <td title='{{ tooltip.3 }}{{ tooltip_ending }}'>Відходи II класу</td>
           <td>{{ gen.tonnes_2|floatformat:3 }}</td>
          </tr>
               <tr>
           <td title='{{ tooltip.4 }}{{ tooltip_ending }}'>Відходи III класу</td>
           <td>{{ gen.tonnes_3|floatformat:3 }}</td>
          </tr>
                    <tr>
           <td title='{{ tooltip.5 }}{{ tooltip_ending }}'>Відходи IV класу</td>
           <td>{{ gen.tonnes_4|floatformat:3 }}</td>
          </tr>
        </table>

    </section>
    <a class="more_button" href="#years-table" onclick="showYearsTable()">ДЕТАЛЬНІШЕ</a>
    <table class="details" id="years-table" hidden>
        <caption><h3>Задекларована кількість відходів підприємства за роками*</h3></caption>
        <tr>
            <th></th>
            <th>2015</th>
            <th>2016</th>
            <th>2017</th>
            <th>2018</th>
            <th>2019</th>
        </tr>
        <tr>
           <td title='{{ tooltip.0 }}'>Згенеровано відходів в тоннах</td>
           <td>{{ gen.tonnes_total_2015|floatformat:3 }}</td>
           <td>{{ gen.tonnes_total_2016|floatformat:3 }}</td>
           <td>{{ gen.tonnes_total_2017|floatformat:3 }}</td>
           <td>{{ gen.tonnes_total_2018|floatformat:3 }}</td>
           <td>{{ gen.tonnes_total_2019|floatformat:3 }}</td>
          </tr>
        <tr>
           <td title='{{ tooltip.1 }}'>Відходів в одиницях Пзув</td>
           <td>{{ gen.pzuv_total_2015|floatformat:3 }}</td>
           <td>{{ gen.pzuv_total_2016|floatformat:3 }}</td>
           <td>{{ gen.pzuv_total_2017|floatformat:3 }}</td>
           <td>{{ gen.pzuv_total_2018|floatformat:3 }}</td>
           <td>{{ gen.pzuv_total_2019|floatformat:3 }}</td>
        </tr>
        <tr>
           <td title='{{ tooltip.2 }}{{ tooltip_ending }}'>Відходи I класу</td>
           <td>{{ gen.tonnes_1_2015|floatformat:3 }}</td>
           <td>{{ gen.tonnes_1_2016|floatformat:3 }}</td>
           <td>{{ gen.tonnes_1_2017|floatformat:3 }}</td>
           <td>{{ gen.tonnes_1_2018|floatformat:3 }}</td>
           <td>{{ gen.tonnes_1_2019|floatformat:3 }}</td>
        </tr>
        <tr>
           <td title='{{ tooltip.3 }}{{ tooltip_ending }}'>Відходи II класу</td>
           <td>{{ gen.tonnes_2_2015|floatformat:3 }}</td>
           <td>{{ gen.tonnes_2_2016|floatformat:3 }}</td>
           <td>{{ gen.tonnes_2_2017|floatformat:3 }}</td>
           <td>{{ gen.tonnes_2_2018|floatformat:3 }}</td>
           <td>{{ gen.tonnes_2_2019|floatformat:3 }}</td>
        </tr>
        <tr>
           <td title='{{ tooltip.4 }}{{ tooltip_ending }}'>Відходи III класу</td>
           <td>{{ gen.tonnes_3_2015|floatformat:3 }}</td>
           <td>{{ gen.tonnes_3_2016|floatformat:3 }}</td>
           <td>{{ gen.tonnes_3_2017|floatformat:3 }}</td>
           <td>{{ gen.tonnes_3_2018|floatformat:3 }}</td>
           <td>{{ gen.tonnes_3_2019|floatformat:3 }}</td>
        </tr>
        <tr>
           <td title='{{ tooltip.5 }}{{ tooltip_ending }}'>Відходи IV класу</td>
           <td>{{ gen.tonnes_4_2015|floatformat:3 }}</td>
           <td>{{ gen.tonnes_4_2016|floatformat:3 }}</td>
           <td>{{ gen.tonnes_4_2017|floatformat:3 }}</td>
           <td>{{ gen.tonnes_4_2018|floatformat:3 }}</td>
           <td>{{ gen.tonnes_4_2019|floatformat:3 }}</td>
        </tr>
     </table>
</main>
<footer>
    <span>* - Декларації почали розміщатись у відкритому доступі починаючи з 2015 року</span>
</footer>

<script>
    let table = document.getElementById('years-table')
    let b = document.getElementsByClassName('more_button')[0];
    function showYearsTable() {
        if(table.hasAttribute("hidden")){
            table.removeAttribute("hidden")
            b.innerHTML = 'СКАСУВАТИ';
            b.style.backgroundColor = '#a5b7ac'
        }
        else{
            table.setAttribute("hidden", true)
            b.innerHTML = 'ДЕТАЛЬНІШЕ';
            b.style.backgroundColor = '#62E6AC'
        }
    }
</script>
{% endblock %}