{% load static %}
<header class="page_header">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <div class="page_header__logo">
        <a onclick="location.href='//wuadigital.tilda.ws/'" class="page_header__logo--link">
            <img src="{% static 'imgs/logo2.png' %}" class="page_header__logo--image">
        </a>
    </div>
    <nav class="page_header__main_buttons_panel">
<!--        <button onclick="location.href='//wuadigital.tilda.ws/'" type="button" class="page_header__main_buttons_panel__button_nav">-->
<!--            ГОЛОВНА-->
<!--        </button>-->
        <button onclick="location.href='//wuadigital.tilda.ws/'" type="button" class="page_header__main_buttons_panel__button_nav">
            ПРО ПРОЕКТ
        </button>
        <button onclick="location.href='/market/list/page_1'" type="button" class="page_header__main_buttons_panel__button_nav">
            WASTE МАРКЕТ
        </button>
        <button onclick="location.href='/analytics/graph/'" type="button" class="page_header__main_buttons_panel__button_nav">
            АНАЛІТИКА
        </button>
        <button onclick="location.href='/about/'" type="button" class="page_header__main_buttons_panel__button_nav">
            КОНТАКТИ
        </button>
        <!--<div class="page_header__main_buttons_panel__div_search">-->
            <!--<input class='page_header__main_buttons_panel__button_search' type="text" placeholder="        Search . . ." required>-->
        <!--</div>-->
    </nav>
    <nav>
        <!--<button onclick="location.href='http://www.google.com'" type="button" class="page_header__smaller_buttons_panel__button_nav">-->
            <!--Мої закладки-->
        <!--</button>-->
        <!--<button onclick="location.href='http://www.google.com'" type="button" class="page_header__smaller_buttons_panel__button_nav">-->
            <!--Мій кабінет-->
        <!--</button>-->
        <div>
            <button type="button" class="page_header__smaller_buttons_panel__button_nav lang">
                <span class="lang--selected">UA</span>
            </button>
            <span> / </span>
            <button type="button" class="page_header__smaller_buttons_panel__button_nav lang">
                 <span>EN</span>
            </button>
        </div>
    </nav>
    <script>

    </script>
</header>