{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Generators List | WUA</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
{% endblock %}


{% block content %}
<section class="page_content">
<!--        <header class="page_content__header">-->
<!--            <button onclick="location.href='/market/create/'" type="button" class="page_content__header__button">-->
<!--                Я ХОЧУ УТИЛІЗУВАТИ-->
<!--            </button>-->
<!--            <button onclick="location.href='/market/list/'" class="page_content__header__button page_content__header__button&#45;&#45;selected">-->
<!--                Я ХОЧУ ЗНАЙТИ ПЕРЕРОБКУ-->
<!--            </button>-->
<!--        </header>-->
<!--        <p class="page_content__title">-->
<!--            <strong>Підприємства, що приймають</strong><br>-->
<!--            <span>та переробляють сміття</span>-->
<!--        </p>-->
<!--        <form class="page_content__form">-->
<!--            &lt;!&ndash;<label for="city_name"></label>&ndash;&gt;-->
<!--            <select name="city" id='city_name' class="page_content__selector_city">-->
<!--                <option value="">Виберіть місто</option>-->
<!--                <option value="kyiv">Київ</option>-->
<!--                <option value="khmelnytsky">Хмельницкий</option>-->
<!--                <option value="lviv">Львів</option>-->
<!--                <option value="kharkiv">Харків</option>-->
<!--                <option value="odesa">Одеса</option>-->
<!--            </select>-->
<!--            <input name="waste_type" class="page_content__waste_type" placeholder="Тип відходів">-->
<!--            <button type="submit" class="page_content__submit_button">Пошук</button>-->
<!--        </form>-->
        <section class="page_content__result_block">
<!--            <p><strong>Шини</strong> переробляють такі підприємства:</p>-->
            <p><strong>Компанії</strong>, що генерують <strong>найбільшу</strong> кількість відходів</p>
            <nav class="page_content__result_block__switchers">
                <button class="page_content__header__button page_content__header__button--selected">
                    ТАБЛИЦЯ
                </button>
<!--                <button class="page_content__header__button">-->
<!--                    КАРТА-->
<!--                </button>-->
            </nav>
            <ul class="page_content__result_block__results">
                {% for post in posts %}
                <li class="page_content__result_block__results__sample">
                    <a href="{% url 'generator_detail' pk=post.pk %}">
                        <img src="{% static 'imgs/NoImageFound.png' %}" class="page_content__result_block__results__sample__picture">
                        <h4 class="page_content__result_block__results__sample__name">{{ post.name }}</h4>
                        <span class="page_content__result_block__results__sample__address-and-worktime">Згенеровано відходів: {{ post.tonnes_total|floatformat:3 }} тонн</span>
<!--                    <address class="page_content__result_block__results__sample__address-and-worktime">м. Київ, вул. Мечнікова, 125а</address>-->
<!--                    <span class="page_content__result_block__results__sample__address-and-worktime">7:00 - 17:00 НД - вихідний</span>-->
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </section>
{% endblock %}