$color-brand: #62E6AC;

.stat-content{
  display: flex;
  justify-content: space-between;
}

.filters{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 800px;
  width: 380px;
  &.graph-lineage{
    margin-top: 165px;
  }
  &__param-ver{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  &__param-hor{
    display: flex;
    align-items: center;
    align-content: space-between;
    &.box{
      border: solid #c0c0c0 2px;
      height: 47px;
      margin-right: 250px;
      align-self: flex-end;
      border-radius: 10px;
      margin-left:  20px;
      & :nth-child(2){
        border-right: solid #c0c0c0 2px;
        border-left: solid #c0c0c0 2px;
      }
    }
    &.graph-management{
      width: 85%;
      align-items: end;
      justify-content: end;
      & div{
        //margin-left:  15px;
      }
    }

  }
}


.selector_city{
  width: 360px;
  height: 51px;
  border-radius: 15px;
  border: solid #c0c0c0 2px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: black;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
          linear-gradient(45deg, transparent 50%, black 50%),
          linear-gradient(135deg, black 50%, transparent 50%),
          radial-gradient(#55eca7 70%, transparent 72%);
  background-position:
          calc(100% - 23px) 22px,
          calc(100% - 18px) 22px,
          calc(100% - 8px) 9px;
  background-size:
          5px 5px,
          5px 5px,
          1.5em 1.5em;
  background-repeat: no-repeat;
  padding-left: 15px;

  &--default{
    color: #c0c0c0;
  }

  &:focus {
    background-image:
            linear-gradient(45deg, white 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, white 50%),
            radial-gradient(#2ead73 70%, transparent 72%);
    background-position:
            calc(100% - 18px) 19px,
            calc(100% - 23px) 19px,
            calc(100% - 8px) 6px;
    background-size:
            5px 5px,
            5px 5px,
            1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  //&>option:first-child{
  //  font-size: 30px;
  // }
}

.label_selector{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  width:360px;
  margin: 0 10px 15px 10px;
  &.wider{
    width: 220px;
  }
  &.small{
    font-size: 18px;
    width: 150px;
    font-weight: 500;
  }
}

.input_number{
  width: 48px;
  height: 51px;
  border: solid #c0c0c0 2px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
}
.button_arrows{
  cursor: pointer;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 40px;
  height: 51px;
  border: solid #c0c0c0 2px;
  //background: none;
  margin: 0 -5px;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
          linear-gradient(45deg, transparent 50%, transparent 50%),
          linear-gradient(135deg, transparent 50%, transparent 50%),
          radial-gradient(#55eca7 70%, transparent 72%);
  background-position:
          calc(100% - 4px) 9px;
  background-size:
          5px 5px,
          5px 5px,
          1.5em 1.5em;
  background-repeat: no-repeat;
  &__right{
    border-radius: 0 15px 15px 0;
    border-left: none;
  }
  &__left{
    border-radius: 15px 0 0 15px;
    border-right: none;
  }
}

.button_scroll{
  cursor: pointer;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  height: 51px;
  width: 40px;
  margin: -1px;
  border: none;
  background: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}


.name_search {
  min-width: 240px;
  overflow: auto;
  height: auto;
  //position: absolute;
  a{
    color: black;
    height: 41px;
    overflow: hidden;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #c0c0c0;
    margin-right: 15px;
  }
  &__field {
    //padding: 14px 7px 12px 16px;
    width: 300px;
    height:45px;
    border: none;
    //border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
  }
  &__list{
    position: absolute;
    max-height: 410px;
    width: 330px;
    background: white;
    border: solid #c0c0c0 1px;
    overflow-y: auto;
    //z-index: 1;
  }
}


.stat-selector{
  display: flex;
  justify-content: center;
  &__button {
    width: 340px;
    height: 51px;
    border: solid #c0c0c0 2px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: black;
    cursor: pointer;
    background-color: transparent;
    &__selected {
      background-color: #55eca7;
    }
  }
  & :first-child{
    border-right: none;
    border-radius: 15px 0 0 15px;
  }
  & :last-child{
    border-left: none;
    border-radius: 0 15px 15px 0;
  }
}

button, input, select{
  &::-moz-focus-inner{
    border: none
  }
}

.scroller_text{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  height: 51px;
  line-height: 51px;
  text-align: center;
  margin: 5px;
  padding: 15px;
}

.title_graph {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  max-width: 900px;
  white-space: pre-wrap;
  word-break: keep-all;
  text-align: center;
  margin-bottom: 5px;
}

.main_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

div.ss-multi-selected{
  width: 360px !important;
  min-height: 51px !important;
  border-radius: 15px !important;
  border: solid #c0c0c0 2px !important;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;

}
.ss-values{
  padding-left: 3px;
}

#myGradient{
  //height: 150px;
  //width:300px;

}