.legend {
  font-size: 14px;
}
rect{
  cursor: pointer;
  stroke-width: 2;

  &.disabled {
    fill: transparent !important;
  }
}

/* chart */
#chart {
  height: 800px;
  margin: 0 auto;
  position: relative;
  display: block;
  width: 1200px;
}

/* tooltip */
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 18px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 100px;
  z-index: 10;
}

aside.filters{
  height: 400px !important;
}