table
{
  border-collapse: collapse;
  border-spacing: 0px;
}
table, th, td
{
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.3);
}
section{
max-width: 70%;
}
main{
  display: flex;
  justify-content: center;
}
td:first-child{
  padding-left:20px;
}
