@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
body {
  margin: 110px 2.5% 0 2.5%;
}

.page_content {
  display: flex;
  flex-direction: column;
  margin: 200px 10% 10px 10%;
}
.page_content__header {
  display: flex;
}
.page_content__header__button {
  background: None;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  border: None;
  font-family: "Roboto", sans-serif;
  color: black;
  cursor: pointer;
  margin-right: 30px;
}
.page_content__header__button.selected {
  border-bottom: 4px solid #62E6AC;
}
.page_content__title {
  margin: 40px 0px 0px 14px;
  font-size: 46px;
}
.page_content__form {
  display: flex;
  justify-content: space-around;
  margin: 70px 0px;
}
.page_content__selector_city {
  width: 300px;
  height: 51px;
  border-radius: 15px;
  border: solid #c0c0c0 2px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, black 50%), linear-gradient(135deg, black 50%, transparent 50%), radial-gradient(#55eca7 70%, transparent 72%);
  background-position: calc(100% - 23px) 19px, calc(100% - 18px) 19px, calc(100% - 8px) 6px;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  padding-left: 15px;
}
.page_content__selector_city--default {
  color: #c0c0c0;
}
.page_content__selector_city:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), radial-gradient(#2ead73 70%, transparent 72%);
  background-position: calc(100% - 18px) 19px, calc(100% - 23px) 19px, calc(100% - 8px) 6px;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
.page_content__waste_type {
  width: 300px;
  height: 51px;
  border-radius: 15px;
  border: solid #c0c0c0 2px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 15px;
}
.page_content__submit_button {
  background-color: #62E6AC;
  width: 200px;
  height: 51px;
  border-radius: 15px;
  font-size: 20px;
  border: None;
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.page_content__result_block {
  font-size: 26px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
}
.page_content__result_block__switchers {
  align-self: flex-end;
}
.page_content__result_block__results-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 10px;
}
.page_content__result_block__results-table__sample {
  flex: 1 0 25%;
  border: solid #c0c0c0 1px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 5px 5px 20px 5px;
  margin: 26.2px;
  max-width: 25%;
  min-width: 300px;
  overflow: hidden;
}
.page_content__result_block__results-table__sample a {
  width: 100%;
  text-decoration: none;
  color: #000000;
  display: block;
}
.page_content__result_block__results-table__sample__picture {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 4px #b5b5b5;
  -moz-box-shadow: 0px 0px 5px 4px #b5b5b5;
  box-shadow: 0px 0px 5px 4px #b5b5b5;
}
.page_content__result_block__results-table__sample__name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 33px;
  /* fallback */
  max-height: 99px;
  /* fallback */
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0;
}
.page_content__result_block__results-table__sample__name:hover {
  display: block;
  max-height: none;
  -webkit-line-clamp: none;
}
.page_content__result_block__results-table__sample__address-and-worktime {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 12px;
  color: darkgray;
}
.page_content__result_block__results-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 10px;
}
.page_content__result_block__results-list__sample {
  border: solid #c0c0c0 1px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 5px 5px 20px 5px;
  margin: 26.2px;
  width: 80%;
  overflow: hidden;
}
.page_content__result_block__results-list__sample:hover {
  border: solid #c0c0c0 3px;
}
.page_content__result_block__results-list__sample a {
  width: 100%;
  text-decoration: none;
  color: #000000;
  display: block;
}
.page_content__result_block__results-list__sample__picture {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 4px #b5b5b5;
  -moz-box-shadow: 0px 0px 5px 4px #b5b5b5;
  box-shadow: 0px 0px 5px 4px #b5b5b5;
}
.page_content__result_block__results-list__sample__name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 33px;
  /* fallback */
  max-height: 66px;
  /* fallback */
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0;
}
.page_content__result_block__results-list__sample__name:hover {
  display: block;
  max-height: none;
  -webkit-line-clamp: none;
}
.page_content__result_block__results-list__sample__address-and-worktime {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 12px;
  color: darkgray;
}

.pages_panel {
  display: flex;
  align-items: center;
  align-content: space-between;
  border: solid #c0c0c0 2px;
  height: 47px;
  align-self: center;
  border-radius: 10px;
}
.pages_panel :nth-child(2) {
  border-right: solid #c0c0c0 2px;
  border-left: solid #c0c0c0 2px;
}
.pages_panel__text {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  height: 51px;
  line-height: 51px;
  text-align: center;
  margin: 5px;
  padding: 15px;
}
.pages_panel__button {
  cursor: pointer;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 51px;
  width: 40px;
  margin: -1px;
  border: none;
  background: none;
}

.selector_city {
  width: 300px;
  height: 51px;
  border-radius: 15px;
  border: solid #c0c0c0 2px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 15px;
}

.name_search {
  min-width: 240px;
  overflow: auto;
  height: auto;
  width: 300px;
}
.name_search a {
  color: black;
  height: 41px;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #c0c0c0;
  margin-right: 15px;
}
.name_search__field {
  width: 290px;
  min-width: 230px;
  height: 45px;
  border: none;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
.name_search__list {
  position: absolute;
  max-height: 410px;
  width: 300px;
  background: white;
  border: solid #c0c0c0 1px;
  overflow-y: auto;
}

/*# sourceMappingURL=market.css.map */
